.typing-text {
    color: rgb(48, 48, 48);
    font-weight: 500;
    overflow: hidden;
    border-right: 2px solid #000;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
body{
    background-color: #f2d7ee;
}
.Alliance-store{

    color:rgb(48, 48, 48);

}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000 }
}

