.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-main {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
}

.app-main-full {
  flex: 1;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}